version: '3.8'

services:
  neo4j:
    image: neo4j:5.15.0
    container_name: newsgraph_neo4j
    ports:
      - "7474:7474" # HTTP
      - "7687:7687" # Bolt
    environment:
      - NEO4J_AUTH=neo4j/password
      - NEO4J_PLUGINS=["apoc"]
      - NEO4J_dbms_security_procedures_unrestricted=apoc.*
    volumes:
      - ./data:/data
      - ./logs:/logs
      - ./plugins:/plugins
    networks:
      - newsgraph_net

networks:
  newsgraph_net:
    driver: bridge
